<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="todoItemForm" (ngSubmit)="addItem()">
                        <div class="form-group">
                            <button
                                class="btn btn-success"
                                type="submit"
                                id="button-addon1"
                            >
                                Add Item
                            </button>
                            <input
                                type="text"
                                class="form-control"
                                aria-label="Example text with button addon"
                                aria-describedby="button-addon1"
                                formControlName="title"
                            />
                            <p
                                *ngIf="
                                    !todoItemForm.get('title')!.valid &&
                                    todoItemForm.get('title')!.touched
                                "
                            >
                                Pleas enter valid title!
                            </p>
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="onFilterDoneItems()"
                            >
                                Hide done items
                            </button>
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="onShowAll()"
                            >
                                Show all
                            </button>
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="onSortItems()"
                            >
                                Sort by title
                            </button>
                            <label>
                                Filter by title
                                <input
                                    #inputTitle
                                    (change)="onFilterTitle(inputTitle.value)"
                                />
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
