<div class="card" [ngClass]="itemIsDone ? 'done' : ''">
    <div class="card-header">
        <h2>{{ element.title }}</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ element.start }}
        </p>
        <p class="card-text">
            {{ element.end }}
        </p>
        <a class="btn btn-danger" (click)="deleteItem(id)">Delete</a>
        <a class="btn btn-primary" (click)="editItem(id)">Edit</a>

        <div class="btn-group btn-group-toggle float-end">
            <button class="btn-primary" (click)="setAsDone()">
                Set as {{ itemIsDone ? 'undone' : 'done' }}
            </button>
        </div>
    </div>
</div>
